# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Python
*.py[co]

# Special Files not to commit
yfb_cookie.txt
triddefs.trd
*.log
.vscode

*.appx
*.exe
*.msi
*.msixbundle

**/cwrsync_*/
